version: '3.11'

services:
  db:
    image: postgres:16
    container_name: yrkesco_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password   
      POSTGRES_DB: yrkesco        
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      
      - ./sql:/docker-entrypoint-initdb.d

  
  pgadmin:
    image: dpage/pgadmin4
    container_name: yrkesco_admin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  pg_data: